language: python
python:
  - "2.6"
  - "2.7"

# command to install dependencies
install:
  - pip install .
  - pip install -r requirements.txt

# command to install dependencies
script: python tests/test_hickle.py
branches:
  only:
    - master